[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes/polarbear"]
	path = themes/polarbear
	url = https://github.com/frostfan/hexo-theme-polarbear.git
